.navbar {
  /* background: rgba(52, 203, 203, .1) !important; */
  background: white;
  border-bottom: 1px solid #29a3a3;
}

.navbar-brand {
  color: #29a3a3;
}

.nav-link {
  color: grey;
  padding-left: 20px !important;
}
