<div class="wrapper-list">
  <img class="title img-fluid" src="/assets/cosmessentials_1400x788.png"/>
  <!--<input class="form-control mr-sm-2" type="search" placeholder="Search">-->
  <!--lipstick-->
  <div class="category-container">
    <div class="travel-label-container label-container">
      <label class="listing-label">Travel Size</label>
      <label class="view-all-btn">See All (118)</label>
    </div>
    <app-listing-list type="travel"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="lips-label-container label-container">
      <label class="listing-label">Lips</label>
      <label class="view-all-btn">See All (10)</label>
    </div>
    <app-listing-list type="lips"></app-listing-list>
  </div>
  <!--lotion-->
  <div class="category-container">
    <div class="face-label-container label-container">
      <label class="listing-label">Face</label>
      <label class="view-all-btn">See All (22)</label>
    </div>
    <app-listing-list type="face"></app-listing-list>
  </div>
  <!--bags-->
  <div class="category-container">
    <div class="eyes-label-container label-container">
      <label class="listing-label">Eyes</label>
      <label class="view-all-btn">See All (14)</label>
    </div>
    <app-listing-list type="eyes"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="cleanser-label-container label-container">
      <label class="listing-label">Cleanser</label>
      <label class="view-all-btn">See All (10)</label>
    </div>
    <app-listing-list type="cleanser"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="hydrating-label-container label-container">
      <label class="listing-label">Hydrating</label>
      <label class="view-all-btn">See All (10)</label>
    </div>
    <app-listing-list type="hydrating"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="restoring-label-container label-container">
      <label class="listing-label">Restoring</label>
      <label class="view-all-btn">See All (10)</label>
    </div>
    <app-listing-list type="restoring"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="fragrance-label-container label-container">
      <label class="listing-label">Fragrance</label>
      <label class="view-all-btn">See All (10)</label>
    </div>
    <app-listing-list type="fragrance"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="bags-label-container label-container">
      <label class="listing-label">Bags</label>
      <label class="view-all-btn">See All (10)</label>
    </div>
    <app-listing-list type="bags"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="label-container sale-label-container">
      <label class="listing-label sale-label">Sale</label>
      <label class="sale-view-all-btn">See All (16)</label>
    </div>
    <app-listing-list type="sale"></app-listing-list>
  </div>
  <!--sale-->
</div>

<!-- --------------------------------------------------------------- -->

<div class="wrapper-grid">
  <img class="title img-fluid" src="/assets/cosmessentials_1400x788.png"/>
  <div class="category-container">
      <div class="travel-label-container label-container">
        <label class="listing-label">Travel Size</label>
        <label class="view-all-btn">See All (118)</label>
      </div>
      <app-listing-grid type="travel"></app-listing-grid>
    </div>
    <div class="category-container">
      <div class="lips-label-container label-container">
        <label class="listing-label">Lips</label>
        <label class="view-all-btn">See All (10)</label>
      </div>
      <app-listing-grid type="lips"></app-listing-grid>
    </div>
    <!--lotion-->
    <div class="category-container">
      <div class="face-label-container label-container">
        <label class="listing-label">Face</label>
        <label class="view-all-btn">See All (22)</label>
      </div>
      <app-listing-grid type="face"></app-listing-grid>
    </div>
    <!--bags-->
    <div class="category-container">
      <div class="eyes-label-container label-container">
        <label class="listing-label">Eyes</label>
        <label class="view-all-btn">See All (14)</label>
      </div>
      <app-listing-grid type="eyes"></app-listing-grid>
    </div>
    <div class="category-container">
      <div class="cleanser-label-container label-container">
        <label class="listing-label">Cleanser</label>
        <label class="view-all-btn">See All (10)</label>
      </div>
      <app-listing-grid type="cleanser"></app-listing-grid>
    </div>
    <div class="category-container">
      <div class="hydrating-label-container label-container">
        <label class="listing-label">Hydrating</label>
        <label class="view-all-btn">See All (10)</label>
      </div>
      <app-listing-grid type="hydrating"></app-listing-grid>
    </div>
    <div class="category-container">
      <div class="restoring-label-container label-container">
        <label class="listing-label">Restoring</label>
        <label class="view-all-btn">See All (10)</label>
      </div>
      <app-listing-grid type="restoring"></app-listing-grid>
    </div>
    <div class="category-container">
      <div class="fragrance-label-container label-container">
        <label class="listing-label">Fragrance</label>
        <label class="view-all-btn">See All (10)</label>
      </div>
      <app-listing-grid type="fragrance"></app-listing-grid>
    </div>
    <div class="category-container">
      <div class="bags-label-container label-container">
        <label class="listing-label">Bags</label>
        <label class="view-all-btn">See All (10)</label>
      </div>
      <app-listing-grid type="bags"></app-listing-grid>
    </div>
    <div class="category-container">
      <div class="sale-label-container">
        <label class="listing-label sale-label">15% Off Sale</label>
        <label class="sale-view-all-btn">See All (16)</label>
      </div>
      <app-listing-grid type="sale"></app-listing-grid>
    </div>
</div>