<div class="wrapper">
  <h3 class="title">CosmEssentials</h3>
  <!--<input class="form-control mr-sm-2" type="search" placeholder="Search">-->
  <!--lipstick-->
  <div class="category-container">
    <div class="label-container">
      <label class="listing-label">Lipstick</label>
      <label class="view-all-btn">See All (10)</label>
    </div>
    <app-listing-list type="lipstick"></app-listing-list>
  </div>
  <!--lotion-->
  <div class="category-container">
    <div class="label-container">
      <label class="listing-label">Lotion</label>
      <label class="view-all-btn">See All (22)</label>
    </div>
    <app-listing-list type="lotion"></app-listing-list>
  </div>
  <!--bags-->
  <div class="category-container">
    <div class="label-container">
      <label class="listing-label">Bags</label>
      <label class="view-all-btn">See All (14)</label>
    </div>
    <app-listing-list type="bags"></app-listing-list>
  </div>
  <div class="category-container">
    <div class="sale-label-container">
      <label class="listing-label sale-label">Sale</label>
      <label class="sale-view-all-btn">See All (16)</label>
    </div>
    <app-listing-list type="sale"></app-listing-list>
  </div>
  <!--sale-->
</div>
