.wrapper-list {
  padding-top: 46px;
  padding-bottom: 40px;
  max-width: 960px;
  margin-right: auto;
  margin-left:  auto;
  padding-left: 3px;
  padding-right: 3px;
}

.title {
  margin: 0;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.category-container {
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.listing-label {
  margin: auto 0 auto 20px;
  text-transform: uppercase;
  color: white;
  font-size: 5vw;
  letter-spacing: 5px;
}

.sale-label {
  color: white;
  font-size: 7vw;
  letter-spacing: 8px;

}

/* -------------------------------------------- */

.label-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: flex-start;
  letter-spacing: 1px;
  font-weight: 800 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  position: sticky;
  top: 46px;
  z-index: 1;
}

.label-container {
  padding: 8px 0;
}

.travel-label-container {
  background: rgb(230, 238, 240, .7);
}

.lips-label-container {
  background: rgb(244, 214, 66, .7);
}

.face-label-container {
  background: rgb(250, 205, 140, .7);
}

.eyes-label-container {
  background: rgb(195, 144, 61, .7);
}

.cleanser-label-container {
  background: rgb(230, 238, 240, .7);
}

.hydrating-label-container {
  background: rgb(244, 214, 66, .7);
}

.restoring-label-container {
  background: rgb(195, 144, 61, .7);
}

.fragrance-label-container {
  background: rgb(156, 39, 91, .7);
}

.bags-label-container {
  background: rgb(230, 238, 240, .7);
}

.sale-label-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: flex-start;
  letter-spacing: 1px;
  font-weight: 800 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: none;
}

/* -------------------------------------------- */

.view-all-btn, .sale-view-all-btn {
  height: 24px;
  line-height: 24px;
  text-align: left;
  margin-right: 20px;
  font-size: 14px;
  cursor:  pointer;
}

.view-all-btn:hover, .view-all-btn:active {
  color: #ff6666;
}

.sale-view-all-btn:hover, .sale-view-all-btn:active {
  color: black;
}

.view-all-btn, .sale-view-all-btn {
  margin: auto 20px auto 0 !important;
}

.view-all-btn {
  color: black;
}

.sale-view-all-btn {
  color: white;
}

/* ------------------------------------------------------ */

.wrapper-grid {
  display: none;
  padding-top: 64px;
  padding-bottom: 40px;
  max-width: 960px;
  margin-right: auto;
  margin-left:  auto;
  padding-left: 3px;
  padding-right: 3px;
}

/* ------------------------------------------------------ */

@media (min-width: 576px) {
  .title {
    height: 464px;
    line-height: 464px;
    font-size: 10vw;
  }
  .listing-label {
    font-size: 5vw;
  }
  .sale-label {
    font-size: 7vw;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 6vw;
  }
  .listing-label {
    font-size: 3vw;
  }
  .sale-label {
    font-size: 5vw;
  }
}

@media (min-width: 992px) {
  .title {
    height: 494px;
    line-height: 494px;
  }
  .wrapper-list {
    display: none;
  }
  .wrapper-grid {
    display: block;
  }
  .label-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    top: 64px;
  }
}

@media (min-width: 1200px) {
  .title {
    height: 600px;
    line-height: 600px;
  }
  .listing-label {
    margin: auto;
  }
  .view-all-btn, .sale-view-all-btn {
    display: none;
  }
  .listing-label {
    font-size: 2vw;
  }
  .sale-label {
    font-size: 3vw;
  }
}

@media (min-width: 1400px) {
  .title {
    height: 650px;
    line-height: 650px;
  }
}
