.wrapper {
  width: 120px;
  margin: 0 auto;
  border-radius: 6px;
  background: white;
  cursor: pointer;
}

.wrapper:hover {
  background: rgba(0,0,0,.05);
}

.listing-image {
  height: 100px;
  width: 100px;
  margin: 10px;
  background: white;
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 10px;
}

.price-label {
  font-size: 12px;
}

.name-label {
  font-size: 11px;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .wrapper {
    width: 150px;
    border-radius: 8px;
  }
  .listing-image {
    height: 125px;
    width: 125px;
    margin: 13px;
  }
  .price-label {
    font-size: 18px;
  }
  .name-label {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .wrapper {
    width: 180px;
    border-radius: 9px;
  }
  .listing-image {
    height: 150px;
    width: 150px;
    margin: 15px;
  }
  .price-label {
    font-size: 20px;
  }
  .name-label {
    font-size: 18px;
  }
}

/* @media (min-width: 1400px) {
  .wrapper {
    width: 240px;
    border-radius: 12px;
  }
  .listing-image {
    height: 200px;
    width: 200px;
    margin: 20px;
  }
  .price-label {
    font-size: 23px;
  }
  .name-label {
    font-size: 21px;
  }
} */
