.wrapper {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: white;
  text-align: center;
  border-top: #9c275b 1px solid;
  display: flex;
  justify-content: space-around;
  z-index: 4;
}

.cart-counter-btn {
  border: none;
  width: 100%;
  background-color: white;
  color: #9c275b;
}

.fa-shopping-bag {
  color: #9c275b;
}

.check-out-btn {
  width: 100%;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
  background-color: #9c275b;
  border: 1px #9c275b solid;
  border-bottom: none;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.price-btn {
  border: none;
  width: 100%;
  background-color: white;
  color: #9c275b;
}
