<div class="wrapper">
  <h3 class="welcome-text">Welcome to</h3>
  <img class="logo img-fluid" src="/assets/cosmessentials_1400x788.png"/>
  <div class="keypoints-container">
    <h3>3000+ <span class="highlight">100% Positive</span> Ratings on eBay</h3>
    <hr class="horizontal-line"/>
    <h3>100% <span class="highlight">Free</span> Shipping</h3>
    <hr class="horizontal-line"/>
    <h3>Founded in 2015 in Thousand Oaks, CA</h3>
  </div>
  <div class="label">Testimonials</div>
  <ul class="testimonials">
  </ul>
</div>
