<div class="wrapper">
  <div id="mySidenav" class="sidenav">
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <a routerLink="/about" (click)="selectRoute('About')">About</a>
    <div class="white-line"></div>
    <table>
      <tr>
        <td><a routerLink="/shop" (click)="selectRoute('Shop')">Shop All</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Travel Size')">Travel Size</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Lips')">Lips</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Face')">Face</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Eyes')">Eyes</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Lipstick')">Cleanser</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Hydrating')">Hydrating</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Restoring')">Restoring</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Fragrance')">Fragrance</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a class="table-a" (click)="selectRoute('Bags')">Bags</a></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
    <div class="white-line"></div>
    <a routerLink="/help" (click)="closeNav()">Help & Contact</a>
    <a routerLink="/help" (click)="closeNav()">Buyer Protection</a>
    <a routerLink="/help" (click)="closeNav()">Sign Out</a>
    <div class="version-label">CosmEssentials v1.0</div>
  </div>
  <div id="header">
    <i class="fa fa-user"></i>
    <span class="header-title">{{currentRoute}}</span>
    <span (click)="openNav()" class="header-btn">&#9776;</span>
  </div>
</div>
