@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: 'Muli', sans-serif;
}

body {
  background: url("/assets/bokeh_portrait.jpg");
  background-position: top left;
  background-attachment: fixed;
}

@media (min-width: 576px) {
  body {
    background: url("/assets/bokeh_804x453.jpg");
    background-position: top left;
    background-attachment: fixed;
  }
}

@media (min-width: 768px) {
  body {
    background: url("/assets/bokeh_1079x607.jpg");
    background-position: top left;
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  body {
    background: url("/assets/bokeh_1211x682.jpg");
    background-position: top left;
    background-attachment: fixed;
  }
}

@media (min-width: 1200px) {
  body {
    background: url("/assets/bokeh_1400x788.jpg");
    background-position: top left;
    background-attachment: fixed;
  }
}

@media (min-width: 1400px) {
  body {
    background: url("/assets/bokeh_original.jpg");
    background-position: top left;
    background-attachment: fixed;
  }
}